@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;700;800&family=Roboto:wght@100;300;400;500;700&family=Teko:wght@600&display=swap');


:root{
    --grass: #8EC864;
    --steel: #B9BBD0;
    --rock: #CAB36D;
    --ghost: #747BB8;
    --psychic: #F08AB1;
    --poison: #C272AF;
    --normal: #BAB3A3;
    --fighting: #B4674B;
    --fire: #F36941;
    --water: #62A5DC;
    --bug: #B7C534;
    --dark: #886E5D;
    --fairy: #EBC5DE;
    --electric: #FFCF3E;
    --flying: #AEBAE3;
    --dragon: #837AB9;
    --ground: #DCC06D;
    --ice: #71CDE4;
}

*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
}


body{
    background-color: rgb(143, 133, 133);
}

section#container{

    background-color: var(--grass);
    border-radius: 30px;
    height: 94vh;
    max-width: 300px;
    margin: 30px auto;

}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
    color: white;
}

header > div#header-direito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

header > div#header-direito > p#seta > a{
    text-decoration: none;
    color: white;
}

header > div#header-direito > p#seta{
    margin-bottom: 15px;
}

header > div#header-direito > p#nome{
   font-size: 30px;
   font-weight: 600;
}

.types{
    display: flex;
    gap: 3px;
    margin: 0;
    padding: 0;
    list-style: none;
    filter: brightness(1.2);
    text-align: center;
}

.type{
     background-color:var(--grass);
    color: white;
    padding: 5px 7px;
    margin: 2px;
    font-size: 10px;
    border-radius: 16px;
    text-transform: capitalize;
    font-weight: 100;
}


header > div#header-esquerdo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:55px;
}

.container-imagem{
    max-width: 150px;
    position: relative;
    margin: auto;
}

.container-imagem > img#imagem-pokemon{
   max-width: 100%;
   position: absolute;
   z-index: 99;
   bottom: -155px;
   
}

.container-imagem > img#simbolo-pokebola{
    max-width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.4;
    right: -80px;
    bottom: -140px;
 }

main{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    position: absolute;
    width: 261px;
    bottom: 0px;
}

main ul{
    list-style: none;
    max-width:250;
}

main > nav >ul#navegacao{
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
    justify-content: space-between;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.8;
}

/* main > nav >ul#navegacao> li{
    opacity: 1;
    font-weight: bold;
} */

section.altera{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section.container-informacoes{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

div.direito-informacoes>ul{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#texto-genero{
    padding-top: 20px;
}

div.esquerdo-informacoes>ul{
    display: flex;
    flex-direction: column;
    gap: 7px;
    opacity: 0.8;
}

#generos{
    padding-top: 40px;
}

.about{
    
}









