:root{
    --grass: #8EC864;
    --steel: #B9BBD0;
    --rock: #CAB36D;
    --ghost: #747BB8;
    --psychic: #F08AB1;
    --poison: #C272AF;
    --normal: #BAB3A3;
    --fighting: #B4674B;
    --fire: #F36941;
    --water: #62A5DC;
    --bug: #B7C534;
    --dark: #886E5D;
    --fairy: #EBC5DE;
    --electric: #FFCF3E;
    --flying: #AEBAE3;
    --dragon: #837AB9;
    --ground: #DCC06D;
    --ice: #71CDE4;
}

body{
    background-color: var(--grass);
    
}