

@media screen and (min-width: 992px) {

    
    .content{
        max-width: 992px;
        margin: 1rem auto;
        height: auto;
        border-radius: 16px;
    }
    
    .lista-pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }


}

@media  screen and (min-width: 576px) {
    
    .lista-pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and(min-width: 380px) {
    .lista-pokemons{
        grid-template-columns: 1fr 1fr;
    }
}